@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

body {
  font-family:
    "Comic Sans MS",
    Comic Sans;
  margin: 0;
  background: #0f0f0f; /* dark background */
  color: #eaeaea; /* main text color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.header-center {
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

.left-margin {
  margin: 0px 16px;
}

#sj-frame {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #111;
}

/* Error text */
#sj-error {
  color: #ff5c5c !important;
  white-space: pre-wrap;
}

#sj-error-code {
  font-size: 12px;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
}

.logo {
  height: 25vh;
}

.logo-wrapper .text {
  font-size: 75px;
  color: #ffffff;
}

.logo-wrapper h1 {
  color: #ffffff;
}

footer {
  margin: 0 16px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  margin-bottom: 20px;
}

footer > div {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

footer a,
footer span {
  margin: 0 15px;
  text-decoration: none;
  color: #cfcfcf;
  font-size: 15px;
}

footer a {
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
  color: #ffffff;
}

/* Description text */
.desc p {
  width: 560px;
  color: rgba(255, 255, 255, 0.6);
}

/* Input field */
#sj-address {
  background: #1a1a1a;
  font-family: inherit;
  padding: 0px 17px;
  height: 48px;
  border: 1px solid #333;
  color: #ffffff;
  border-radius: 50px;
  outline: none;
  width: 350px;
  margin-top: 5px;
  transition:
    border-radius 0.1s,
    border 0.1s;
}

#sj-address::placeholder {
  color: #888;
}

#sj-address:focus {
  border: 1px solid #ffffff;
  border-radius: 8px;
}

/* Credit box */
.credit {
  border-radius: 10px;
  padding: 10px;
  border: #444 1px solid;
  color: #eaeaea;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  background: #161616;
}

.credit label {
  margin-left: auto;
  margin-right: 15px;
}

.credit a,
.credit label {
  color: #ffffff;
  text-decoration: underline;
  text-align: right;
}

.credit pre {
  display: none;
  width: 100%;
  color: #cccccc;
}

.credit label::after {
  content: "show license";
  cursor: pointer;
}

.credit input:checked + label::after {
  content: "hide license";
}

.credit input:checked ~ pre {
  display: block;
}
